<h1>Input</h1>
<form action="/generate/" method="POST">
    <label for="text">Text</label>
    <input type="text" name="text">
    <br>
    <label for="fontSize">Font Size</label>
    <input type="number" name="fontSize">
    <br>
    <label for="font">Font</label>
    <select name="font">
        {{range $index, $font := .Fonts}}
            <option value="{{$index}}">{{$font.Name}}</option>
        {{end}}
    </select>
    <br>
    <label for="color">Color</label>
    <select name="color">
        {{range $name, $_ := .Colors}}
            <option value="{{$name}}">{{$name}}</option>
        {{end}}
    </select>
    <br>
    <input type="submit" value="Generate">
</form>
